@import "tailwindcss";

html {
  margin: 0 auto;
  scroll-behavior: smooth;
}

body {
  background-color: #fdfdfd;
  color: #1e2939;
  box-sizing: border-box;
}

input {
  outline: inherit;
}

/* CALENDAR */
.rbc-event {
  color: #fff !important;
  border-radius: 0.25rem !important;
  font-weight: 500 !important;
}

.rbc-event-content {
  font-size: 13px !important;
}

.rbc-show-more {
  color: #ff6900 !important;
  font-size: 13px !important;
}

/*Agenda*/
.rbc-agenda-time-cell {
  border: 1px solid #ccc !important;
}

.rbc-agenda-table thead {
  background-color: #F9FAFB;
}

.rbc-timeslot-group {
  min-height: 60px !important;
}


@layer components {
  .title {
    @apply mb-6 text-2xl font-bold;
  }

  .sidebar-item {
    @apply mb-4 cursor-pointer rounded-md p-2 font-semibold transition hover:bg-orange-100;
  }

  .sidebar-item.active {
    @apply text-orange-500;
  }

  .orange-background {
    @apply rounded-md bg-orange-100 px-2 py-1;
  }
}
